@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* USERLOGIN, ADMINLOGIN, REGISTER */

.webTitle {
    color: blue;
    font-size: 5rem;
}

.titleImg {
    width: 50px;
    margin: 0vw 1vw;
}

.webSlogan1 {
    font-size: 3rem;
}

.webSlogan2 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.bookHubBig {
    font-size: 2rem;
    font-weight: bolder;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(228, 224, 224);
}

.webIntro {
    width: 60vw;
}

.formContain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logregForm {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 9px 0px #5e5a5a;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formTitle {
    text-align: center;
    margin: 2vh 0;
}

.inpBox {
    width: 80%;
    margin: 2vh 2vw;
    padding: 1vw;
    border-radius: 5px;
    border: 1px solid grey;
}

.entryBtn {
    width: 40%;
    background-color: blue;
    color: white;
    border-radius: 8px;
    border: none;
    margin: 2vh 2vw;
    padding: 1vw;
    font-size: large;
    font-weight: bold;
}

.entryBtn:hover {
    background-color: rgb(39, 39, 243);
    cursor: pointer;
}

.goToRegister {
    width: 80%;
    background-color: green;
    border-radius: 8px;
    border: none;
    margin: 2vh 2vw;
    padding: 1vw;
    font-size: large;
    font-weight: bold;
}

.goToRegister:hover {
    background-color: rgb(8, 157, 8);
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

::placeholder {
    font-size: large;
    padding-left: 5px;
}

.entryErrorShow {
    color: red;
}
.entrySuccessShow {
    color: green;
    font-weight: bold;
    font-size: x-large;
}

hr {
    width: 95%;
    color: rgb(80, 77, 77);
}

.formUnderline:hover {
    color: rgb(4, 4, 80);
}

form p {
    margin-bottom: 2vh;
}

.belowFormAdminTextBig {
    font-size: large;
    font-weight: bold;
}

.formTitle {
    margin: 2vh 0;
    text-align: center;
}

.belowFormSmall {
    margin-top: 2vh;
}

/* PAGE */
.pageFlex {
    display: flex;
    justify-content: space-around;
}
.mainPage {
    /* border: 1px solid red; */
    padding-left: 3vw;
    padding-top: 1vh;
    background-color: rgb(228, 224, 224);
    position: absolute;
    /* flex: 1; */
    /* width: 82vw; */
    left: 18vw;
    /* bottom: 0vh; */
    /* bottom: auto; */
    min-height: 100%;
    box-sizing: border-box;
    top: 0vh;
    right: 0vw;
    display: flex;
    flex-direction: column;
}
.pageTitle {
    margin-left: 2vw;
}
/* adminindex */
.adminDashGrid {
    /* display: grid;
    grid-template: 
    'grid1 grid2'
    'grid3 grid4'
    'grid5 grid6'; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2vh 1vw;
    /* border: 1px solid green; */
}
.gridCol {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    /* justify-content: flex-start; */
}

.insideDashGrid {
    background-color: white;
    margin: 2vh 1vw;
    /* border: 1px solid red; */
    border-radius: 5px;
    box-shadow: 2px 2px 9px 0px #5e5a5a;
    width: 35vw;
    /* min-height: 30vh; */
}
.gridTopic {
    margin: 2vh 1vw;
}
.dashGridTexts {
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    font-size: large;
}
/* .bookIssuesToday{
    grid-area: grid1;
}
.bookaddedFewDays{
    grid-area: grid2;
}
.bookFewSamples{
    grid-area: grid3;
}
.booksNotReturnedAfterDeadline{
    grid-area: grid4;
}
.usersHighLowCP{
    grid-area: grid5;
}
.usersaddedFewDays{
    grid-area: grid6;
} */
/* userindex */
.usermainPage {
    display: flex;
    margin-top: 0px;
}
.userotherPage {
    margin-top: 0px;
    position: absolute;
    top: 9vh;
    left: 0;
    right: 0;
    min-height: 91%;
    box-sizing: border-box;
    background-color: rgb(228, 224, 224);
    padding: 1vh 3vw;
}

.insideUserPage {
    top: 9vh;
    right: 0;
    min-height: 91%;
    background-color: rgb(228, 224, 224);
    box-sizing: border-box;
    padding: 1vh 3vw;
    width: 100vw;
}
.aboutlibrary {
    position: absolute;
    left: 0;
    /* border: 1px solid red; */
    width: 75vw;
    /* width: 70%; */
}
.aboutuser {
    position: fixed;
    /* border: 1px solid red; */
    width: 25vw;
    /* visibility: hidden; */
}
.insideAboutUser {
    background-color: white;
    border-radius: 5px;
    border: none;
    margin: 2vh 0vw;
    padding: 1vh 1vw;
    box-shadow: 2px 2px 9px 0px #5e5a5a;
}
.aboutUserInfos {
    margin-top: 3vh;
    font-weight: bolder;
    font-size: larger;
}

.normalUindexText {
    margin: 1vh 1vw;
    font-size: large;

}
/* NAVBAR */
.navBox {
    position: fixed;
    left: 0;
    top: 0;
    /* border: 1px solid blue; */
}
.navBoxU {
    position: fixed;
    left: 0;
    box-shadow: 2px 2px 9px 0px #5e5a5a;
    top: 0;
    z-index: 5;
    background-color: white;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18vw;
    height: 100vh;
    list-style-type: none;
}
.navbarU {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* height: 15vh; */
    list-style-type: none;
    /* border: 1px solid red; */
}
.leftrightNav {
    display: flex;
    /* border: 1px solid blue; */
}
.leftNav {
    padding-left: 2vw;
}
.rightNav {
    padding-right: 2vw;
}

.adminNavItems {
    padding: 3vh 2vw;
    /* background-color: rgb(65, 65, 105); */
    /* border-bottom: 1px solid rgb(0, 0, 54); */
    margin: 0vh 1vw;
}
.userNavItems {
    padding: 3vh 0.5vw;
    margin: 0vh 0.5vw;
}
.adminNavItems:hover {
    background-color: rgb(192, 187, 187);
    border-radius: 5px;
}

.webName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vh;
    text-decoration: none;
}
.titleText {
    font-size: xx-large;
    font-weight: bold;
    margin: 1vh 1vw;
}

.navText {
    font-weight: bold;
    font-size: large;
    color: black;
    text-decoration: none;
}
/* Dropdrown */
/* .dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    min-width:max-content;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 2px 2px black;
    border-radius: 3px;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropItem {
    text-decoration: none;
    display: block;
    font-size: medium;
    border: 2px solid red;
    padding: 1vh 1vw;
} */

/* ENTRY FORMS */

.addformContain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.addForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.dataEntryInput {
    width: 50%;
    margin: 3vh 2vw;
    height: 7vh;
    border-radius: 5px;
    border: 1px solid blue;
    /* padding: 0vh 1vw; */
}

.addBtn {
    border-radius: 5px;
    color: white;
    background-color: green;
    padding: 1.5vh 2vw;
    border: none;
    font-weight: bold;
    font-size: large;
    width: 40%;
}
.addBtn:hover {
    background-color: rgb(8, 157, 8);
    cursor: pointer;
}

/* DETAILS */
.displayPage {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    justify-content: center;

}
.displayBox {
    background-color: white;
    border-radius: 8px;
    border: none;
    margin: 2vh 2vw;
    margin-left: 0;
    padding: 2vh 1vw;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 20vw;
    box-shadow: 2px 2px 9px 0px #5e5a5a;
}


/* .afterNamemainDetails { */
    /* display: grid;
    grid-template-columns: auto auto;
    column-gap: 15vw; */
    /* text-align: left; */
    /* border: 1px soild red; */
/* } */
.detailP {
    margin: 1vh 0vw;
    padding: 1vh 1vw;
}

.largeDetailsText {
    /* font-size: large; */
    font-weight: bold;
}
.detailsNameTitle {
    text-align: center;
    /* border: 1px solid red; */
}
.detailsImgBox {
    border: 1px solid red;
    width: 6vw;
    height: 15vh;
    border-radius: 5px;
    /* width: 80px;
    height: 80px; */
}

.filterSortBox {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw; 

}


.filterDrop {
    width: 10vw;
    margin: 0;
}

/* Under MyProflie */
/* .underMyProfileDrop { */
    /* width: 20vw;
    position: absolute;
    top: 9vh;
    border: 1px soild red;
    background-color: blue; */
    /* display: none; */
/* } */

/* My Profile */
.displayProfile {
    width: 40vw;
    background-color: white;
    box-shadow: 2px 2px 9px 0px #5e5a5a;
    border: none;
    border-radius: 8px;
    padding: 2vh 2vw;
    /* margin: 2vh 1vw; */
    margin: auto;
    margin-top: 5vh;
    font-size: large;
    /* font-weight: bold; */
}
